<!DOCTYPE html>

<html>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/aboutpage.css') }}">

<head>

</head>


<body>
    <div id="topbar" class="sticky">
        <h3> About </h3>
    </div>
  
<h1 id='topone'> Introduction </h1>  

<h2> This is _____, your innovative solution to diagonosing which restaurant you were food poisoned by! </h2>  

<h1> About the Project </h1>
<h2> _____ was created in 36 hours for the HackKU hackathon in Lawrence, Kansas.
     It aims to solve the problem that people face when choosing a place to order food, 
     while also keeping track of which food places may have caused food poisoning to occur.  </h2>

<h1> Challenges </h1>
<h2> During the event, we faced many challenges in implementing the project as we intended.  </h2>

<h1> Resources Used </h1>
<h2> We combined HTML, CSS, Javascript, and Flask to build the front-end/UI side of the project.  
To create the extensive back-end, we used Python and SQL to populate the data and make use of the APIs in our project.  </h2>

<h1> What we learned </h1>
<h2> Each of us decided to tackle a challenge by being a part of development that was most unfamiliar to us. 
    For example, Andrew and Cooper worked together on the front-end application, 
    creating low and high fidelity prototypes of the design and using languages (HTML, CSS, Javascript) 
    that they were not familiar in. On the other hand, John and Keaton chose to work with SQL databases and APIs 
    with queries in order to supply our product with core functionality - concepts which they had little experience in before. </h2> 

<h1> Dependencies </h1>
<ul>
<li>pip install python-google-places </li>
<li>pip install python-dotenv  </li>
<li>pip install geopy  </li>
</ul>
    

<div id="botbar" class="sticky">
    <a class="botbar"><img src="https://static.thenounproject.com/png/104832-200.png" width="50" height="50" class="icon"/></a>
    <a href="mainpage" class="botbar"> <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" width="50" height="50" class="icon"/> </a>
    <a href="educationpage" class="botbar"> <img src="https://static.thenounproject.com/png/903291-200.png" width="50" height="50" class="icon"/> </a>
</div>
</body>



</html>