<!DOCTYPE html>

<html>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/mainpage2.css') }}">
    <head>

    </head>

    <body id='mp2'>
        <div id="topbar" class="sticky">
            <h3> List </h3>
        </div>
        <img id='logo' src="{{url_for('static', filename='styles/imgs/logo.png')}}" width = '100px'>

        <div id="map">
            <a href="mainpage" id="buttonthing"><img src="https://freepngimg.com/save/66930-map-google-icons-collection-maps-computer-marker/512x512" height="25px" width="25px" id="listicon"></a>
            
            <div class="all_dangerous_restrs">
                <br>
                <div class="restr_container">
                    <div class="info_container">
                        <div class="img_nameaddress">
                            <div>
                                <img src="{{dicts[0]['img']}}" height=100px width=100px class="img", alt="Pictured: {dicts[0]['name']}">
                            </div>
                            <div class="name_address">
                                <div class="name">
                                    {{dicts[0]["name"]}}
                                </div>
                                <div class="address">
                                    {{dicts[0]["address"]}}
                                </div>
                            </div>
                        </div>
                        <div class="be_weary_of">
                            Be weary of the {{causes[0]}}!
                        </div>
                    </div>
                    <div id='tl1' class="tl">
                        Threat Level
                    </div>
                    <div class="weighted_num">
                        {{weights[0]}}
                    </div>
                </div>
                <hr>
                <div class="restr_container">
                    <div class="info_container">
                        <div class="img_nameaddress">
                            <div>
                                <img src="{{dicts[1]['img']}}" height=100px width=100px class="img", alt="Pictured: {dicts[1]['name']}">
                            </div>
                            <div class="name_address">
                                <div class="name">
                                    {{dicts[1]["name"]}}
                                </div>
                                <div class="address">
                                    {{dicts[1]["address"]}}
                                </div>
                            </div>
                        </div>
                        <div class="be_weary_of">
                            Be weary of the {{causes[1]}}!
                        </div>
                    </div>
                    <div id='tl2' class="tl">
                        Threat Level
                    </div>
                    <div class="weighted_num">
                        {{weights[1]}}
                    </div>
                </div>
                <hr>
                <div class="restr_container">
                    <div class="info_container">
                        <div class="img_nameaddress">
                            <div>
                                <img src="{{dicts[2]['img']}}" height=100px width=100px class="img", alt="Pictured: {dicts[2]['name']}">
                            </div>
                            <div class="name_address">
                                <div class="name">
                                    {{dicts[2]["name"]}}
                                </div>
                                <div class="address">
                                    {{dicts[2]["address"]}}
                                </div>
                            </div>
                        </div>
                        <div class="be_weary_of">
                            Be weary of the {{causes[2]}}!
                        </div>
                    </div>
                    <div id='tl3' class="tl">
                        Threat Level
                    </div>
                    <div class="weighted_num">
                        {{weights[2]}}
                    </div>
                </div>
            </div>

        </div>

        <div id="botbar" class="sticky">
            <a href="aboutpage" class="botbar"><img src="https://static.thenounproject.com/png/104832-200.png" width="50" height="50" class="icon"/></a>
            <a href="reportpage" class="botbar"> <img src="https://www.svgrepo.com/show/93424/exclamation-mark-inside-a-circle.svg" width="50" height="50" class="icon"/> </a>
            <a href="educationpage" class="botbar"> <img src="https://static.thenounproject.com/png/903291-200.png" width="50" height="50" class="icon"/> </a>
        </div>


    </body>


</html>