<!DOCTYPE html>

<html>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/mainpage.css') }}">
    <head>

    </head>

    <body id='mp2'>
        <div id="topbar" class="sticky">
            <h3> List </h3>
        </div>

        <div id="map">
            <a href="mainpage" id="buttonthing"><img src="https://freepngimg.com/save/66930-map-google-icons-collection-maps-computer-marker/512x512" height="25px" width="25px" id="listicon"></a>
            <h2 id='topone'>hello</h2>
            
            <div class="all_dangerous_restrs">
                <div class="restr_container">
                    <div class="info_container">
                        <div class="img_nameaddress">
                            <div class="img">
                                <img src="https://images.unsplash.com/photo-1625244724120-1fd1d34d00f6?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG90ZWxzfGVufDB8fDB8fHww" height=100px width=100px>
                            </div>
                            <div class="name_address">
                                <div class="name">
                                    the epic hartford hotel
                                </div>
                                <div class="address">
                                    2176 E 23rd St, Lawrence, KS 66046
                                </div>
                            </div>
                        </div>
                        <div class="be_weary_of">
                            Be weary of the wasabi!
                        </div>
                    </div>
                    <div class="weighted_num">
                        3.4
                    </div>
                </div>

                <div class="restr_container">
                    <div class="info_container">
                        <div class="img_nameaddress">
                            <div class="img">
                                <img src="https://images.unsplash.com/photo-1625244724120-1fd1d34d00f6?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG90ZWxzfGVufDB8fDB8fHww" height=100px width=100px>
                            </div>
                            <div class="name_address">
                                <div class="name">
                                    the epic hartford hotel
                                </div>
                                <div class="address">
                                    2176 E 23rd St, Lawrence, KS 66046
                                </div>
                            </div>
                        </div>
                        <div class="be_weary_of">
                            Be weary of the wasabi!
                        </div>
                    </div>
                    <div class="weighted_num">
                        3.4
                    </div>
                </div>

                <div class="restr_container">
                    <div class="info_container">
                        <div class="img_nameaddress">
                            <div class="img">
                                <img src="https://images.unsplash.com/photo-1625244724120-1fd1d34d00f6?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG90ZWxzfGVufDB8fDB8fHww" height=100px width=100px>
                            </div>
                            <div class="name_address">
                                <div class="name">
                                    the epic hartford hotel
                                </div>
                                <div class="address">
                                    2176 E 23rd St, Lawrence, KS 66046
                                </div>
                            </div>
                        </div>
                        <div class="be_weary_of">
                            Be weary of the wasabi!
                        </div>
                    </div>
                    <div class="weighted_num">
                        3.4
                    </div>
                </div>
            </div>

        </div>

        <div id="botbar" class="sticky">
            <a href="aboutpage" class="botbar"><img src="https://static.thenounproject.com/png/104832-200.png" width="50" height="50" class="icon"/></a>
            <a href="reportpage" class="botbar"> <img src="https://www.svgrepo.com/show/93424/exclamation-mark-inside-a-circle.svg" width="50" height="50" class="icon"/> </a>
            <a href="educationpage" class="botbar"> <img src="https://static.thenounproject.com/png/903291-200.png" width="50" height="50" class="icon"/> </a>
        </div>


    </body>


</html>