<!DOCTYPE html>

<html>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/mainpage.css') }}">
    <head>

    </head>

    <body id='mp2'>
        <div id="topbar" class="sticky">
            <h3> List </h3>
        </div>

        <div id="map">
            <a href="mainpage" id="buttonthing"><img src="https://freepngimg.com/save/66930-map-google-icons-collection-maps-computer-marker/512x512" height="25px" width="25px" id="listicon"></a>
            <div></div>
           <h2 id='topone'>hello</h2>
           <h2>hello</h2>
           <h2>hello</h2>
           <h2>hello</h2>

        </div>

        <div id="botbar" class="sticky">
            <a class="botbar"><img src="https://static.thenounproject.com/png/104832-200.png" width="50" height="50" class="icon"/></a>
            <a href="reportpage" class="botbar"> <img src="https://www.svgrepo.com/show/93424/exclamation-mark-inside-a-circle.svg" width="50" height="50" class="icon"/> </a>
            <a href="educationpage" class="botbar"> <img src="https://static.thenounproject.com/png/903291-200.png" width="50" height="50" class="icon"/> </a>
        </div>


    </body>


</html>