<!DOCTYPE html>

<html>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/reportpage.css') }}">
    <head>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.&libraries=places&key=AIzaSyDR924KH0p6IDMCsOaG5rMmEo17JSl5K2U&libraries=places&callback=initAutocomplete" async defer></script>
    </head>

    <body>
        <div id='topbar'>
            <h3>Report</h3>
        </div>
        <script src="{{url_for('static', filename='scripts/reportpage.js')}}"></script>
        
        <br /> 
        
            <div id="location_division">
                <form id="location_form">

                    <h4 id='topone'>Where did you eat?</h4>

                </form>
                <button id="plus_id" onclick="create_new_location()">+</button> <br />
                <button onclick="onPlaceChanged()">Submit Restaurants</button>

            </div>    



        <div id="food_division">

            <h4> I ate the following: </h4>

            <form>
                <div>
                    <h5>Restaurant 1: </h5> <br />
                    <input type="checkbox" name="restaurant1" id="food1" value="fish">
                    <label for="food1">Fish</label><br />
                    <input type="checkbox" name="restaurant1" id="food2" value="lettuce">
                    <label for="food2">Lettuce</label><br />
                    <input type="checkbox" name="restaurant1" id="food3" value="chicken">
                    <label for="food3">Chicken</label><br />
                    <input type="checkbox" name="restaurant1" id="food4" value="beef">
                    <label for="food4">Beef</label><br />
                    <input type="checkbox" name="restaurant1" id="food5" value="eggs">
                    <label for="food5">Eggs</label><br />

                    <input type="checkbox" name="restaurant1" id="food6" value="shellfish">
                    <label for="food6">Shellfish</label><br />
                    <input type="checkbox" name="restaurant1" id="food7" value="milk">
                    <label for="food7">Milk</label><br />
                    <input type="checkbox" name="restaurant1" id="food8" value="peanut">
                    <label for="food8">Peanut</label><br />
                    <input type="checkbox" name="restaurant1" id="food9" value="flour">
                    <label for="food9">Flour</label><br />
                    <input type="checkbox" name="restaurant1" id="food10" value="wasabi">
                    <label for="food9">Wasabi</label><br />
                </div>

                <div>
                    <h5>Restaurant 2: </h5> <br />
                    <input type="checkbox" name="restaurant2" id="food11" value="fish">
                    <label for="food1">Fish</label><br />
                    <input type="checkbox" name="restaurant2" id="food12" value="lettuce">
                    <label for="food2">Lettuce</label><br />
                    <input type="checkbox" name="restaurant2" id="food13" value="chicken">
                    <label for="food3">Chicken</label><br />
                    <input type="checkbox" name="restaurant2" id="food14" value="beef">
                    <label for="food4">Beef</label><br />
                    <input type="checkbox" name="restaurant2" id="food15" value="eggs">
                    <label for="food5">Eggs</label><br />

                    <input type="checkbox" name="restaurant2" id="food16" value="shellfish">
                    <label for="food6">Shellfish</label><br />
                    <input type="checkbox" name="restaurant2" id="food17" value="milk">
                    <label for="food7">Milk</label><br />
                    <input type="checkbox" name="restaurant2" id="food18" value="peanut">
                    <label for="food8">Peanut</label><br />
                    <input type="checkbox" name="restaurant2" id="food19" value="flour">
                    <label for="food9">Flour</label><br />
                    <input type="checkbox" name="restaurant2" id="food20" value="wasabi">
                    <label for="food9">Wasabi</label><br />
                </div>

                <div>
                    <h5>Restaurant 3: </h5> <br />
                    <input type="checkbox" name="restaurant3" id="food21" value="fish">
                    <label for="food1">Fish</label><br />
                    <input type="checkbox" name="restaurant3" id="food22" value="lettuce">
                    <label for="food2">Lettuce</label><br />
                    <input type="checkbox" name="restaurant3" id="food23" value="chicken">
                    <label for="food3">Chicken</label><br />
                    <input type="checkbox" name="restaurant3" id="food24" value="beef">
                    <label for="food4">Beef</label><br />
                    <input type="checkbox" name="restaurant3" id="food25" value="eggs">
                    <label for="food5">Eggs</label><br />

                    <input type="checkbox" name="restaurant3" id="food26" value="shellfish">
                    <label for="food6">Shellfish</label><br />
                    <input type="checkbox" name="restaurant3" id="food27" value="milk">
                    <label for="food7">Milk</label><br />
                    <input type="checkbox" name="restaurant3" id="food28" value="peanut">
                    <label for="food8">Peanut</label><br />
                    <input type="checkbox" name="restaurant3" id="food29" value="flour">
                    <label for="food9">Flour</label><br />
                    <input type="checkbox" name="restaurant3" id="food30" value="wasabi">
                    <label for="food9">Wasabi</label><br />
                </div>
                
            </form>

            <button onclick="check_checkboxes()">Check food</button>

            <br />

            <a href="summarypage">Generate Summary</a>

        </div>

        <div id="botbar" class="sticky">
            <a href="aboutpage" class="botbar"><img src="https://static.thenounproject.com/png/104832-200.png" width="50" height="50" class="icon"/></a>
            <a href="mainpage" class="botbar"> <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" width="50" height="50" class="icon"/> </a>
            <a href="educationpage" class="botbar"> <img src="https://static.thenounproject.com/png/903291-200.png" width="50" height="50" class="icon"/> </a>
        </div>
    
        
    </body>


</html>