<!DOCTYPE html>

<html>

    <head>


    </head>

    <body>

        <h3>Summary</h3>

        <br />

        <div>
            <h4>Most Likely Location</h4>

            <p>Chick-Fil-A</p>
            <img>
        </div>

        <br />

        <div>
            <h4>Most Likely Food</h4>

            <p>Chicken Sandwich</p>
            <img>
        </div>

        <br />

        <div>
            <h4>Steps to Take to Get Better:</h4>

            <p>Be sure to drink a lot of water, as dehydration <br>is a common symptom of food poisoning.</p>
            <img>
        </div>

        <br />

        <div>
            <h4>How to Prevent in the Future:</h4>

            <p>Avoid Chick-Fil-A products</p>
            <img>
        </div>


    </body>

</html>