body{
    background-color: #F8EAFF;
}
h3 {
    font-size: 40px;
    
}
#topbar{
    background-color: #F3DCFF;
    height: 115px;
    width: 390px;
    text-align: center;
    display:inline-flex;
    flex-direction:column;
    border-style: solid;
    top: 0px;
}
#buttonthing{
    width: 75px;
    height: 50px;
    border-style: solid;
    border-radius: 100px;
    position: absolute;
    left: 285px;
    top: 40px;
    background-color: #F3DCFF;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    z-index: 1;
}
#listicon{
    position: relative;
    top: 12px;
}
#botbar{
    background-color: #F3DCFF;
    height: 115px;
    width: 390px;
    text-align: center;
    display:inline-flex;
    flex-direction:row;
    justify-content: space-between;
    position: fixed;
    bottom:0px;
}
#map {
    height: 626px;
    width: 390px;
}
#logo{
    left: 25px;
    position: absolute;
    top: 15px
}
.botbar{
    border-style:solid;
    border-color: black;
    width: 200px;
    border-radius: 10px;
}
.icon{
    margin-top: 4px;
    width: 100px;
    height: 100px;
}    