body{
    background-color: #F8EAFF;
}
h3 {
    font-size: 40px;
}
hr{
    max-width: 390px;
    margin-left:0;
    clear: both;
    visibility: hidden;
}
#topbar{
    background-color: #F3DCFF;
    height: 115px;
    width: 390px;
    text-align: center;
    display:inline-flex;
    flex-direction:column;
    border-style: solid;
    top: 0px;
}
#buttonthing{
    width: 75px;
    height: 50px;
    border-style: solid;
    border-radius: 100px;
    position: absolute;
    left: 285px;
    top: 40px;
    background-color: #F3DCFF;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    z-index: 1;
}
#listicon{
    position: relative;
    top: 12px;
}
#botbar{
    background-color: #F3DCFF;
    height: 115px;
    width: 390px;
    text-align: center;
    display:inline-flex;
    flex-direction:row;
    justify-content: space-between;
    position: fixed;
    bottom:0px;
}
#map {
    height: 626px;
    width: 390px;
}
#logo{
    left: 25px;
    position: fixed;
    top: 15px
}
.botbar{
    border-style:solid;
    border-color: black;
    width: 200px;
    border-radius: 10px;
}
.icon{
    margin-top: 4px;
    width: 100px;
    height: 100px;
}   
.restr_container{
    display: flex;
    background-color: rgb(252, 209, 252);
    max-width: 390px;
    font-family: "Gills Sans", sans-serif;
    border-radius: 10px 10px 10px 10px; 
}
.img_nameaddress{
    display: flex;
}
.img{
    display:flex;
    border-radius: 10px 5px 10px 5px; 
    padding-top: 7px;
    padding-left: 7px;
}
.name_address{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.name{
    margin-left: 5%;
    font-weight: bold;
}
.address{
    font-size: 16px;
    margin-left: 5%;
}
.be_weary_of{
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 1%;
    font-style: italic;
    padding-left: 7px;
}
.weighted_num{
    width: 110px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid;
    border-color: grey;
    background-color: rgba(255, 255, 255, 0.593);
    margin-top: 10%;
    margin-bottom: 12%;
    margin-right: 3%;
}
.tl{
    position: absolute;
    left:298px;
    font-size: 15px;
    text-decoration: underline;
}
#tl1{
    top: 158px;
}
#tl2{
    top: 335px;
}
#tl3{
    top: 513px;
}