#topbar{
    background-color: #F3DCFF;
    height: 115px;
    width: 390px;
    text-align: center;
    display:inline-flex;
    flex-direction:column;
    position: fixed;
}
h3 {
    font-size: 40px;
    margin-top:50px;
}
body{
    background-color: #F8EAFF ;
    width: 390px;
    height: 1000px;
}
#botbar{
    background-color: #F3DCFF;
    height: 115px;
    width: 390px;
    text-align: center;
    display:inline-flex;
    flex-direction:row;
    justify-content: space-between;
    position: fixed;
}
#buttonthing{
    width: 50px;
    height: 35px;
    border-style: solid;
    border-radius: 100px;
    position: absolute;
    left: 320px;
    top: 150px;
    background-color: #F3DCFF;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    position: fixed;
}
#listicon{
    position: relative;
    top: 4px;
}
#wtmw{
    height: 623px;
}
.botbar{
    border-style:solid;
    border-color: black;
    width: 200px;
}
.icon{
    margin-top: 4px;
    width: 100px;
    height: 100px;
}
