#topbar{
    background-color: #F3DCFF;
    height: 115px;
    width: 390px;
    text-align: center;
    display:inline-flex;
    flex-direction:column;
    position: fixed;
    border-style: solid;
    top: 0px;
}
h3 {
    font-size: 40px;
}
#topone{
    padding-top: 75px;
}
body{
    background-color: #F8EAFF;
    height: 1000px;
}
#botbar{
    background-color: #F3DCFF;
    height: 115px;
    width: 390px;
    text-align: center;
    display:inline-flex;
    flex-direction:row;
    justify-content: space-between;
    position: fixed;
    bottom:0px;
}

.botbar{
    border-style:solid;
    border-color: black;
    width: 200px;
    border-radius: 10px;
}
.icon{
    margin-top: 4px;
    width: 100px;
    height: 100px;
}
input {
    height: 20px;
    display: block;
    border-style: solid;
    border-color: black;
    width: 50%;
    background-color: #F1D5FF;
    display: inline-flexbox;
    
    flex-direction: column;
    justify-content: space-between;
    
}
h4{
    font-size: 25px;
    text-decoration: underline;
}