#topbar{
    background-color: #F3DCFF;
    height: 115px;
    width: 390px;
    text-align: center;
    display:inline-flex;
    flex-direction:column;
    position: fixed;
    border-style: solid;
    top: 0px;
    z-index: 1;
}
h3 {
    font-size: 40px;
}
#topone{
    padding-top: 75px;
}
body{
    background-color: #F8EAFF;
    height: 1350px;
}
#botbar{
    background-color: #F3DCFF;
    height: 115px;
    width: 390px;
    text-align: center;
    display:inline-flex;
    flex-direction:row;
    justify-content: space-between;
    position: fixed;
    bottom:0px;
}

.botbar{
    border-style:solid;
    border-color: black;
    width: 200px;
    border-radius: 10px;
}
.icon{
    margin-top: 4px;
    width: 100px;
    height: 100px;
}
input {
    height: 20px;
    display: block;
    border-style:solid;
    border-color: black;
    width: 300px;
    height: 30px;
    background-color: #F1D5FF;
    display: inline-flexbox;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}
h4{
    font-size: 25px;
    text-decoration: underline;
}
#checks{
        right:20px;
        display: flex;
        max-width: 450px;
        position: relative;
    
bottom: 70px;
}
#chunk{
    flex: 1; /* Each column takes equal space */
    margin: 0 10px; /* Adjust as needed for spacing between columns */
    padding: 20px;
    
}
.checkb{
    display: inline;
    width: 10px;
    top: 10px;
}
#plus_id{
    border-style: solid;
    border-color: black;
    background-color: #F1D5FF;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 30px;
    border-radius: 10px;
}
#submit{
    border-style: solid;
    border-color: black;
    background-color: #F1D5FF;
    color: rgb(0, 0, 0);
    width: 170px;
    height: 50px;
    position: relative;
    top: 10px;
    border-radius: 10px;
}
h5{
    position:relative;
    text-decoration: underline;
    top: 30px;
    
}
#checkfood{
    border-style: solid;
    border-color: black;
    background-color: #F1D5FF;
    color: rgb(0, 0, 0);
    width: 300px;
    height: 50px;
    left: 50px;
    bottom: 50px;
    position: relative;
    border-radius: 10px;
    font-size: 25px;
}


#summary{
    border-style: solid;
    border-color: black;
    background-color: #F1D5FF;
    color: rgb(0, 0, 0);
    font-size: 35px;
    text-decoration: dotted;
    width: 200px;
    height: 100px;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    left: 50px;
}

